<!-- <select
  [(ngModel)]="selectedCategoryId"
  class="form-select"
  (change)="FitrateById()"
>
  @for(category of categoryList ;track category) {
  <option value="{{ category.id }}">{{ category.categoryName }}</option>
  }
</select> -->

<!-- <h1>{{ selectedCategoryId }}</h1> -->

<table class="table">
  <thead>
    <tr>
      <th scope="col" class="text-center align-middle">ID</th>
      <th scope="col" class="text-center align-middle">Name</th>
      <th scope="col" class="align-middle">Image</th>
      <th scope="col" class="text-center align-middle">Price</th>
      <th scope="col" class="text-center align-middle">Quatity</th>
      <th scope="col" class="text-center align-middle">Count</th>
      <th scope="col" class="text-center align-middle">Buy</th>
    </tr>
  </thead>
  <tbody>
    @for(product of filtratedList;track product.id){
    <tr>
      <td class="text-center align-middle">{{ product.id }}</td>
      <td class="text-center align-middle">{{ product.name | uppercase }}</td>
      <td>
        <img
          class="img-fluid"
          height="200"
          width="200"
          src="{{ product.imgUrl }}"
          alt=""
          appLightBox
        />
      </td>
      <!-- <td>{{ product.price | currency : "$" }}</td> -->

      <!--اضرب لى فى 100 والديفولت بتعاى هناك فى البايب أنا حطاه 50 و يعنى لو محطتش قيمة هيعتمد ال 50 الديفولت -->
      <td class="text-center align-middle">{{ product.price | calc : 100 }}</td>

      <!-- <td>{{ product.quantity }}</td> -->
      <!--? Attribute Directive [ngStyle], [ngClass  ] -->
      <!-- <td [ngStyle]="{ background: product.quantity === 0 ? 'red' : 'white' }">
        {{ product.quantity }}
      </td> -->
      <!-- <td
        [ngClass]="{
          'bg-danger': product.quantity === 0,
          'bg-warning': product.quantity === 1
        }"
      >
        {{ product.quantity }}
      </td> -->
      <!-- @if(product.quantity=== 1){
      <td class="bg-warning text-light text-center align-middle">Last One</td>
      } @else if(product.quantity === 0){
      <td class="bg-danger text-light text-center align-middle">
        Out Of Stock
      </td>
      } @else{
      <td class="text-center align-middle">{{ product.quantity }}</td>
      } -->
      @switch(Shopping (product.price, iteminput.value, product.quantity)){
      @case(0){
      <td class="bg-danger text-light text-center align-middle">
        Out Of Stock
      </td>
      } @case(1){
      <td class="bg-warning text-light text-center align-middle">Last One</td>
      }@default{
      <td class="text-center align-middle">
        {{ Shopping(product.price, iteminput.value, product.quantity) }}
      </td>

      } }

      <td class="align-middle">
        <!-- #iteminput =>> دى ريفرنس للرقم اللى هيتحط فى الانبوت  -->
        <input
          type="number"
          name=""
          #iteminput
          [min]="1"
          [max]="Shopping(product.price, iteminput.value, product.quantity)"
          [disabled]="
            !Shopping(product.price, iteminput.value, product.quantity)
          "
        />
      </td>
      <td class="align-middle">
        <button
          class="btn btn-dark"
          (click)="Shopping(product.price, iteminput.value, product.quantity)"
          [disabled]="
            !Shopping(product.price, iteminput.value, product.quantity)
          "
        >
          Buy
        </button>
      </td>
    </tr>

    }
  </tbody>
</table>
<hr />
<!-- <h1>The total price: {{ totalPrice | calc : 100 }}</h1> -->
